body {
    background-color: #b96823; 
}
.panel-default>.panel-heading {
    background-color: #c5f1d2; 
}
.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c5f1d2; 
};

